Repository dsm23/dsm23-next-supabase-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint", "prettier --check"],
  "**/*.css": ["prettier --check"],
  "**/*.{json,yml}": ["prettier --check"]
}

chore(stylelint): add stylelint
  .lintstagedrc
  .stylelintignore
  .stylelintrc.mjs
  package.json
  pnpm-lock.yaml
  src/app/globals.css
Due: eslint, prettier --check

chore(ts-reset): add @total/typescript ts-reset
  package.json
  pnpm-lock.yaml
  src/reset.d.ts
Due: eslint, prettier --check

chore(import alias): use tilde for import alias
  .storybook/preview.ts
  components.json
  src/app/(auth-pages)/forgot-password/page.tsx
  src/app/(auth-pages)/sign-in/page.tsx
  src/app/(auth-pages)/sign-up/page.tsx
  src/app/actions.ts
  src/app/auth/callback/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/protected/page.tsx
  src/app/protected/reset-password/page.tsx
  src/components/header-auth.tsx
  src/components/submit-button.tsx
  src/components/theme-switcher.tsx
  src/components/tutorial/fetch-data-steps.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/middleware.ts
  tsconfig.json
Due: eslint, prettier --check

chore(jest): add jest tests
  .github/workflows/check.yml
  jest.config.mjs
  jest.setup.js
  package.json
  pnpm-lock.yaml
  src/components/ui/button.test.tsx
  tsconfig.json
Due: eslint, prettier --check

chore(docker compose): add supabase config via docker compose
  .env.example
  .gitignore
  compose.yml
  tsconfig.json
  volumes/api/.prettierrc.yml
  volumes/api/kong.yml
  volumes/db/init/data.sql
  volumes/db/jwt.sql
  volumes/db/logs.sql
  volumes/db/realtime.sql
  volumes/db/roles.sql
  volumes/db/webhooks.sql
  volumes/functions/hello/index.ts
  volumes/functions/main/index.ts
  volumes/logs/vector.yml
Due: eslint, prettier --check

chore(dependencies): update third-party dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(storybook): add storybook smoke test
  .github/workflows/check.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(deploy url): update deploy url
  README.md
  src/components/deploy-button.tsx
Due: eslint, prettier --check

chore(vscode): add more vscode extensions
  .vscode/extensions.json
Due: prettier --check

ci(node version): update node version to 22.9.0
  .nvmrc
Due: none

chore(mergify): move mergify config to recommended location
  .mergify.yml
Due: prettier --check

chore(husky): make husky silent in ci
  .github/workflows/check.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/playwright.yml
  .husky/install.mjs
  package.json
Due: eslint, prettier --check

chore(husky): add prepare-commit-msg file
  .husky/prepare-commit-msg
Due: none

ci(gitleaks): add harden security to gitleaks
  .github/workflows/gitleaks.yml
Due: prettier --check

ci(bundle analysis): update next bundlesize analysis actions
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier --check

chore(dependencies): update third-party dependencies
  .github/workflows/check.yml
  .github/workflows/playwright.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(next.js): upgrade next.js to v15-rc-1
  .github/workflows/nextjs_bundle_analysis.yml
  env.js
  eslint.config.js
  jest.config.js
  next.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.js
  report-bundle-size.js
  src/app/(auth-pages)/forgot-password/page.tsx
  src/app/(auth-pages)/sign-in/page.tsx
  src/app/(auth-pages)/sign-up/page.tsx
  src/app/actions.ts
  src/app/protected/reset-password/page.tsx
  src/utils/supabase/server.ts
  stylelint.config.js
  tsconfig.json
Due: eslint, prettier --check

chore(cookies): make server cookies async
  src/app/actions.ts
  src/app/auth/callback/route.ts
  src/app/protected/page.tsx
  src/components/header-auth.tsx
  src/components/tutorial/fetch-data-steps.tsx
  src/utils/supabase/server.ts
Due: eslint, prettier --check

chore(package.json): add name property to package.json
  package.json
Due: prettier --check

chore(eslint): enhance eslint config
  eslint.config.js
  src/app/(auth-pages)/forgot-password/page.tsx
  src/app/(auth-pages)/sign-in/page.tsx
  src/app/(auth-pages)/sign-up/page.tsx
  src/app/protected/reset-password/page.tsx
  src/components/tutorial/code-block.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/label.tsx
  src/utils/supabase/middleware.ts
  src/utils/supabase/server.ts
Due: eslint, prettier --check

chore(eslint): fix eslint tailwind in config
  eslint.config.js
  src/components/ui/button.tsx
Due: eslint, prettier --check

chore(node version): upgrade node version
  .nvmrc
Due: none

chore(scripts): add scripts folder
  .github/workflows/nextjs_bundle_analysis.yml
  scripts/report-bundle-size.js
Due: eslint, prettier --check

chore(deps): update third-party dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(node version): upgrade node version to v22.11.0
  .nvmrc
Due: none

chore(playwright): update playwright ubuntu version to noble
  .github/workflows/check.yml
  .github/workflows/playwright.yml
Due: prettier --check

ci(pnpm): update pnpm in ci
  .github/workflows/check.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/playwright.yml
  package.json
Due: prettier --check

chore(pnpm): upgrade pnpm to v9.13.0
  package.json
Due: prettier --check

chore(deps): update third-party dependencies
  .github/workflows/check.yml
  .github/workflows/playwright.yml
  package.json
  pnpm-lock.yaml
  src/utils/supabase/middleware.ts
  src/utils/supabase/server.ts
Due: eslint, prettier --check

chore(deps): update third-party dependencies
  .prettierrc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(node version): update node version
  .nvmrc
Due: none

chore(pnpm version): update pnpm version
  package.json
Due: prettier --check

chore(deps): update third-party dependencies
  package.json
  pnpm-lock.yaml
  src/app/actions.ts
Due: eslint, prettier --check

ci(renovate): add renovate config
  .mergify.yml
  renovate.json
Due: prettier --check
